<!--<div style="background: url(); background-repeat: no-repeat; background-position: center top; ">-->

  <style>
    #tudo {
      width: 100%;
      height: 992px;

      background-image: url(./assets/images/clientes.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover
    }
  </style>


  <div id="tudo">

  </div>



<!--
  <div class="row div-aling">
      <a class="btn btn-default" href="#">
        <h5>Cadastrar Currículo </h5>
      </a>
    </div>

-->
