/*.m{

  margin-top: 15%
}*/



.div-aling {
  text-align: center;
}

.m{
padding-top: 50%;
}

.row{
 margin-left: auto;
 margin-right: auto;
width: 500px;
margin-top:auto;
background: rgba(255,255,255,0.8);
}



/*
.bg-image{
    background-image:url(/src/assets/images/conquista.jpg);
    width:100%;
    height:992px
}
*/
