<!--<nav class="navbar navbar-expand-md navbar-light shadow-lg fixed-top" style="background-color: #8d0a61;">


    Não sei pra que serve
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>


 </nav> -->
<nav class="navbar navbar-expand-md navbar-light bg-light shadow-lg fixed-top" style="background-color:#8d0a61;">
  <a routerLink="">
    <!-- <img class="img-brand" alt="Angular Logo" src="assets/images/logo.png">-->
    <h4> Meus Clientes </h4>
  </a>
  <div class="aling">
    <a routerLink="cadastro" class="btn btn-default">
      <h5>Cadastrar e Consultar Clientes </h5>
    </a>

   <!--<a routerLink="consultar" class="btn btn-default">
      <h5> Consultar Clientes </h5>
    </a>-->
  </div>
</nav>
